
body {
    margin: 0;
    padding: 0
}

.my-container {
    width: 1920px;
    border: 1px solid red;
    margin: 0 auto;
}

.bird{
    background: url("../img/bird.png") no-repeat;
    background-size: cover;
    height: 1000px;
}
.bird-gradient{
    background: transparent;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.logo{
    width: 86px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    /* Text style for "M, G" */

}
.logo span{
    text-transform: uppercase;
}